body {
    background-image: url('/fundo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.png {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    z-index: 10;
}